* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #01fec7;
  font-family: 'Outfit', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.8rem;
}
